@import "tailwindcss";
@source "../../src";

@theme {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
}

:root {
  --background: 36 25% 96%; /* #F8F6F3 */
  --foreground: 240 5.9% 10%; /* text-zinc-900 */
  --primary: 34 65% 61%; /* #DDA359 */
  --primary-foreground: 0 0% 100%;
}

* {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

*::-webkit-scrollbar {
  display: none !important;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom, 20px);
}
